body {
    font-size: 12px;
    font-family: sans-serif;
    margin: 0;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    color: white;
    
    background-color: rgba(15,37,84, 255);
    background-size: cover; /* Scale the image to cover the container */
    background-position: center top; /* Center horizontally and position the image to cut off the top */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Prevent the image from repeating */

    overflow-x: hidden;
}

  

h1 {
  font-size: 40px;
  margin: 5px;
}

p {
  font-size: 18px;
  margin: 5px;
}


.content {
  position: absolute;
  width: 99%;
  height: 100%;
  margin: 0 auto;
}

.section {
  width: 70%;
  text-align: center;
  background-color: rgba(157, 210, 246, 0.9);
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.roster {
  width: 100%; /* Make the container take the full width */
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.roster img {
  max-width: 100%;  /* Make the image responsive */
  height: auto;  /* Maintain aspect ratio */
  display: block; /* Ensures there’s no extra space below the image */
  margin: 0 auto; /* Centers the image horizontally */
}

/* For smaller screens (e.g., mobile), you can apply specific styles */
@media (max-width: 768px) {
  .roster {
      padding: 5px; /* Reduce padding for smaller screens */
  }

  h1 {
      font-size: 30px; /* Smaller heading on mobile */
  }

  p {
      font-size: 14px; /* Adjust paragraph font size for readability */
  }
}
